<div class="flex justify-between">
  <div class="my-2">
    <p class="text-4xl font-bold">Scheduled Tweets</p>
  </div>
  <div class="my-2">
    <% if Current.user.twitter_accounts.any? %>
      <%= link_to "Schedule a Tweet", new_tweet_path, class: "btn-blue" %>
    <% end %>

    <% if Current.user.twitter_accounts.none? %>
      <%= button_to "Add a Twitter account", '/auth/twitter', class: "btn-blue"  %>
    <% end %>
  </div>
</div>
<br>
<br>

<%= render @tweets %>
