<div class="flex justify-between min-w-max">
  <div class="my-2">
    <h3 class="mt-3 text-4xl leading-8 font-medium tracking-tight text-gray-900">Scheduled Tweets</h3>
  </div>
  <div class="my-6">
    <% if Current.user.twitter_accounts.any? %>
      <%= link_to "Schedule a Tweet", new_tweet_path, class: "btn-blue" %>
    <% end %>

    <% if Current.user.twitter_accounts.none? %>
      <%= link_to "Add a Twitter account", '/auth/twitter', method: :post, class: "btn-blue"  %>
    <% end %>
  </div>
</div>
<br>
<br>

<%= render @tweets %>
