<div class="flex justify-between">
  <div class="my-2">
    <p class="text-4xl font-bold">Twitter Accounts</p>
  </div>
  <div class="my-2">
    <%= button_to "Add a Twitter account", "/auth/twitter", method: :post, class: "btn-blue" %>
  </div>
</div>
<br>
<br>

<% @twitter_accounts.each do |twitter_account| %>
  <%= render(TwitterAccountComponent.new(twitter_account: twitter_account)) %>
<% end %>



