<div class="flex justify-between min-w-max">
  <div class="my-2">
    <h3 class="mt-3 text-4xl leading-8 font-medium tracking-tight text-gray-900">Twitter Accounts</h3>
  </div>
  <div class="my-6">
    <%= link_to "Add a Twitter account", "/auth/twitter", method: :post, class: "btn-blue" %>
  </div>
</div>
<br>
<br>

<% @twitter_accounts.each do |twitter_account| %>
  <%= render(TwitterAccountComponent.new(twitter_account: twitter_account)) %>
<% end %>



