<h1>Twitter Accounts</h1>

<%= button_to "Add a twitter account", "/auth/twitter", class: "btn btn-primary" %>

<% @twitter_accounts.each do |twitter_account| %>
  <div>
    <%= twitter_account.username %>
  </div>
<% end %>
