<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<header class="bg-blue-400 p-3">
  <div class="h-12 px-6 flex items-center justify-end">
    <div class="relative" data-controller="dropdown">
      <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
        <nav x-data="{ open: false }">
          <button class="text-white-500 w-10 h-10 relative focus:outline-none bg-blue-400" @click="open = !open">
            <div class="block w-5 absolute left-1/2 top-1/2   transform  -translate-x-1/2 -translate-y-1/2">
              <span aria-hidden="true" class="block absolute h-0.5 w-8 bg-white transform transition duration-500 ease-in-out" :class="{'rotate-45': open,' -translate-y-1.5': !open }"></span>
              <span aria-hidden="true" class="block absolute  h-0.5 w-8 bg-white   transform transition duration-500 ease-in-out" :class="{'opacity-0': open } "></span>
              <span aria-hidden="true" class="block absolute  h-0.5 w-8 bg-white transform  transition duration-500 ease-in-out" :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
            </div>
          </button>
        </nav>
      </div>
      <div data-dropdown-target="menu" class="absolute right-0 mt-2 hidden">
        <div class="bg-white shadow rounded border overflow-hidden">
          <% if Current.user %>
            <%= link_to "Account", edit_password_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 text-gray-900 bg-white hover:bg-blue-400 whitespace-no-wrap' %>
            <%= link_to "Logout", logout_path, method: :delete, data: {action: "click->dropdown#toggle"}, class: 'no-underline block pl-8 py-3 text-gray-900 bg-white hover:bg-blue-400 whitespace-no-wrap' %>
          <% else %>
            <%= link_to "Register", sign_up_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 text-gray-900 bg-white hover:bg-blue-400 whitespace-no-wrap' %>
            <%= link_to "Sign In", sign_in_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block pl-8 py-3 text-gray-900 bg-white hover:bg-blue-400 whitespace-no-wrap' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
