<div class="flex justify-between">
  <div class="my-2">
    <p class="text-4xl font-bold">Welcome to Tweet-O-Matic</p>
  </div>
</div>

<br>
<% unless Current.user %>
  <p class="text-2xl pt-6 font-bold">
    To learn more about this project click <%= link_to "here", about_index_path, class: "text-blue-400 hover:text-gray-500" %>.
    <br>
    <br>
    To get started please <%= link_to "register", sign_up_path, class: "text-blue-400 hover:text-gray-500"%> or <%= link_to "sign in", sign_in_path, class: "text-blue-400 hover:text-gray-500"%>.
  </p>
<% end %>
