@import "tailwindcss/components";
// Custom


// buttons
.btn-blue {
  @apply rounded-full py-3 px-4 uppercase text-xs font-bold cursor-pointer tracking-wider text-blue-400 border-blue-400 border-2 hover:bg-blue-500 hover:text-white transition ease-out duration-700;
}

.btn-red {
  @apply rounded-full py-3 px-4 uppercase text-xs font-bold cursor-pointer tracking-wider text-red-400 border-red-400 border-2 hover:bg-red-500 hover:text-white transition ease-out duration-700;
}

.btn-green {
  @apply rounded-full py-3 px-4 uppercase text-xs font-bold cursor-pointer tracking-wider text-green-400 border-green-400 border-2 hover:bg-green-500 hover:text-white transition ease-out duration-700;
}


// Form
%focus-style {
  @apply shadow outline-none border-gray-500;

  box-shadow: 0 0 0 0.2rem theme("colors.blue.400");
  background-clip: padding-box;
}

.input {
  @apply appearance-none block w-full text-gray-700 border border-blue-400 rounded px-3 leading-tight bg-white shadow-inner;
  padding-top: .65rem;
  padding-bottom: .65rem;
}

.input:focus,
.input:hover {
  @extend %focus-style;
}


